* text=auto eol=lf

*.rs       text diff=rust
*.toml     text
*.yaml     text
*.yml      text
*.md       text
*.sh       text eol=lf
*.ts       text
*.tsx      text
*.js       text
*.mjs      text
*.css      text
*.json     text
Cargo.lock text -merge linguist-generated

# Binary files
*.png      binary
*.jpg      binary
*.gif      binary
*.ico      binary
*.woff2    binary
